@charset "utf-8"


$background-gradient: linear-gradient(to bottom right, #fc6767, #ec008c)
// place navbar above pageloader
$navbar-fixed-z: 999999
$body-overflow-y: hidden

@import "node_modules/bulma/bulma.sass"
@import "sass/extensions/bulma-pageloader.sass"

html, body 
  height: 100%

body, .pageloader
  background: $background-gradient
